* {
    background-image: radial-gradient(closest-side at 60% 55%,#171717,#303030,#202020,black);
    color: white;
}

#firstLink {
    font-size: 30px;
}

.large_size {
    font-size: large;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

.funcky_color {
    color: blanchedalmond;
}

.funcky_size {
    font-size: 3em;
}

hr,br {
    height: 15px;
}

.funcky_size > p {
    font-size: larger;
}

